<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="block_dop_okno" id="open">
   <div class="fon_dop_okno">
    <img src="/static/media/dop_okno.png" id="dop_okno">
       <h4 class="lich_info_text">
           Личная информация
       </h4>
    <img src="/static/media/Ввод_номера.png" id="pole_vvoda">
    <img src="/static/media/Ввод_номера.png" id="pole_vvoda2">
       <p class="cont_lich">
            Нажимая “Посчитать” Вы соглашаетесь с политикой конфидeнциальности компании
           <a href="https://samolet.ru/agreement/" target="_blank">
               https://samolet.ru/agreement/
           </a>
       </p>
    <img src="/static/media/сохранить.png" id="button_rasschitat_dop">
  </div>
</div>
</body>
</html>